<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ApiKeys.plist
   web-weather-app

   Created by Nas@Mac on 8/1/59.
   Copyright (c) พ.ศ. 2559 Nas@Mac. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>API_CLIENT_ID</key>
        <string>MyAPIClientID</string>
        <key>API_SECRET</key>
        <string>MyAPISecret</string>
    
    </dict>
</plist>
